*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #0d1117;
    background-size: cover;
    background-attachment: fixed;
}

table {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
}

tbody{
    background: #161b22;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    color: white;
    height: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #0d1117;
}

td, #questions{
    padding: 7px;
}

td a{
    text-decoration: none;
    color: #2f73bd;
}

input[type=number]{
    color: white;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #0d1117;
    padding: 0;
}

.btn {
    height: 35px;
    background: #238636;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    padding: 0px 15px;
    text-decoration: none;
}

.btn:hover {
    background-color: #238636;
}
